[Unit]
Description=wifi-connect startup script
After=time-sync.target
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /home/pi/wifi-connect-setup/start-wifi-connect.sh

[Install]
WantedBy=multi-user.target
